menuconfig SND_SOC_TASDEVICE
	bool "Texas Instruments TASDEVICE"

if SND_SOC_TASEVICE
menu "Texas Instruments TASDEVICE"
config TASDEVICE_CODEC
	select REGMAP
	select REGMAP_I2C
	select I2C
	select SYSFS
	def_bool y

endmenu
endif #SND_SOC_TASDEVICE
